.projects {
    padding-top: 80px;
    position: relative;
    margin-bottom: 30px;
}

.projects__image {
    width: calc(100% - 20px);
    height: 550px;
    margin: 0 auto;
    background-image: url('../../assets/images/women2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.projects > h1 {
    color: #717171;
    font-size: 40px;
    margin-left: 20%;
}

.projects__circle5 {
    position: absolute;
    top: -20px;
    right: 10px;
    z-index: -1;
}

.projects__circle2 {
    position: absolute;
    top: 80px;
    right: 10px;
    z-index: -1;
}

.projects__overlay {
    height: 100%;
    text-align: center;
    background-color: transparent;
    color: white;
    transition: 500ms ease-in-out;
    position: relative;
    overflow: hidden;
}

.projects__overlay:hover {
    background-color: #c897046b;
    transition: 500ms ease-in-out;
}

.projects__title {
    font-size: 40px;
}

.projects__text {
    width: 50%;
    margin: auto;
    line-height: 22px;
    font-weight: 600;
}

.projects__overlayContent {
    position: absolute;
    bottom: -230px;
    transition: .7s;
    pointer-events:none;
}

.projects__overlay:hover .projects__overlayContent {
    transform: translateY(-370px);
}

@media(max-width: 1200px) {
    .projects__image {
        height: 450px;
    }

    .projects__overlayContent {
        bottom: -270px;
    }
}

@media(max-width: 900px) {
    .projects__image {
        height: 400px;
    }

    .projects__overlay:hover .projects__overlayContent {
        transform: translateY(-350px);
    }

    .projects__text {
        width: 70%;
    }
}


@media(max-width: 800px) {
    .projects__image {
        height: 300px;
    }

    .projects__text {
        width: 90%;
    }

    .projects__overlay:hover .projects__overlayContent {
        transform: translateY(-300px);
    }
}

@media(max-width: 600px) {
    .projects__overlayContent {
        bottom: -480px;
    }

    .projects__overlay:hover .projects__overlayContent {
        transform: translateY(-500px);
    }
}

@media(max-width: 500px) {
    .projects__image {
        height: 350px;
    }

    .projects__title {
        font-size: 35px;
        margin-bottom: 10px;
    }

    .projects__text {
        width: 95%;
        line-height: 18px;
        font-weight: 400;
    }
}